NODE_ENV=development
PORT=3000
SITE_PHONE=+256 700 123 456
SITE_EMAIL=info@glorychildrenministry.com
SITE_LOCATION=Kampala, Uganda
SOCIAL_X=https://x.com/
SOCIAL_FACEBOOK=https://facebook.com/
SOCIAL_WHATSAPP=https://wa.me/
SOCIAL_TIKTOK=https://tiktok.com/
SOCIAL_LINKEDIN=https://linkedin.com/
